/*Gneral Style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  transition: 0.2s;
}

a:hover {
  font-size: 1.05rem;
  font-weight: 500;
}

h1 {
  margin: 25px 0;
}

/*Gneral Style Finish*/

/*Header Style*/

header {
  position: relative;
  padding: 0 2rem;
}

.active {
  font-weight: bold;
  font-size: 1.1em;
}

.navbar {
  width: 100%;
  height: 60px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 20px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  margin: 0 35px;
}

.navbar .toggle_btn {
  margin: 0 20px 0 0;
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


/*Header Style finish*/

/*DropDown Menu style*/ 

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  height: 0;
  width: 300px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow:  0 0 2em rgba(0, 0, 0, 0.1), 0 0 2em rgba(0, 0, 0, 0.1);
}

.dropdown_menu.open {
  height: 150px;
}

.dropdown_menu li {
  margin-top: 5px;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .cnt_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*DropDown Style Finish*/



/*Header Responsive*/

@media(max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}


@media(max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .hero h1, h3 {
    scale: 0.89;
  }
  .hero {
    margin: 95px 0;
  }
}

/* header Responsive finish */

/*Hero Style*/

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
}

.hero-content {
  margin: 0 50px;
}

#hero-content {
  margin-top: 150px;
}

.hero-content .btn {
  margin-top: 50px;
}

/*hero style finish*/

/* main style*/
.main h2 {
  text-align: center;
  color: rgb(28, 29, 32);
}

.main .act .cards {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.act .cards img {
  width: 300px;
  height: 300px;
}

.act .cards .card {
  margin: 20px 50px;
  width: 300px;
  height: 400px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
}

.card {
  transition: 0.6s;
}

.card:hover {
  scale: 1.05;
}

.card-content {
  margin-top: 15px;
}


.card{
  text-align: center;
}

.doc {
  margin: 50px}

.doc .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.doc img {
  height: 350px;
}

.doc .card {
  height: 430px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 50px;
}

@media only screen and (max-width: 900px) {
  .card {
    width:300px;
    height: 400px;
  }

  .card img {
    width: 300px;
    height: 300px;
  }

  .hero img {
    width: 300px;
    height: 300px;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px;
}

.contact .card {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 300px;
  height: 100px;
  text-align: center;
}

.email {
  margin-top: 40px;
}

.email a {
  color: rgb(28, 29, 32);
  text-decoration: none;
}
/*main style finish*/

/*footer style*/
  .footer {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.footer footer {
  text-align: center;
  font-size: 1.09em;
  font-weight: 500;
}
/*footer style finish*/

/*Document Page style*/
.docum p {
  text-align: center;
  width: 800px;
}

.docum p {
  font-size: 1.09em;
  font-weight: 500;
}

@media (max-width : 888px) {
  .docum p {
    width: 300px;
    text-align: center;
  }

  .docu h1 {
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .docu {
    margin: 100px;
  }

  .docum-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px;
  }

  .docum-img img {
    width: 600px;
    height: 400px;
  }

  .docum-title {
    text-align: center;
    font-size: 1.58em;
  }
}

/*Document Page Style Finish*/


